<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @task.goal.topic %></h1>
    <p>
      Вам отправлено задание от: <%=@author.post%> <%=@author.surname%> <%=@author.name[0]%>.<%=@author.patronymic[0]%>. <br>
    </p>
    <p>
      Описание: <%= @task.goal.description%>. <br>
      <%= @task.description%>.
    </p>
  </body>
</html>

