<h1>Новое задание</h1>
<%= form_with model: @task do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :Название %>
    </div>

    <div class="col-sm-5">
      <%= f.text_field :title, placeholder: 'Название', class: 'form-control form-control-lg' %>
    </div>
  </div>

  

  <%= f.submit "Отправить задание", class: 'btn btn-primary btn-lg' %>


<% end %>



<%= link_to 'Назад к заданию', goals_path %>
