  <div class="mb-3 row">
   <div class="col-sm-7 ">
<h1>쮐햦햩혧 쮏혧향쮏쒫썜햣햩혪 <%=@current_user.login%>
</h1></div>
<div class="col-sm-3 ">
<%= link_to '뉌햧혝햦', session_path, data: {method: :delete}, class: 'shine-button' %>
</div>
</div>
<ol class="profile">
<div class="mb-2 row">
    <div class="col-sm-5"> <li id="surname"><%= @current_user.surname%></li> </div>
    <div class="col-sm-5"> <li id="role">
        <% if @current_user.role == 1%> 뤯쐄혢햫혦햧 쮏혧향쮏쒫썜햣햩혧 <%end%>
        <% if @current_user.role == 2%> 햃햢햪햦햫햦혜혝햟혝쮐 <%end%></li> 
    </div>
</div>
<div class="mb-2 row">
    <div class="col-sm-5"> <li id="name"><%= @current_user.name%></li> </div>
    <div class="col-sm-5"> <li id="patronymic"><%= @current_user.patronymic%></li> </div>
</div>
<div class="mb-2 row">
    <div class="col-sm-5"> <li id="phone"><%= @current_user.phone%></li> </div>
    <div class="col-sm-5"> <li id="email"><%= @current_user.email%></li> </div>
</div>
<div class="mb-2 row">
    <div class="col-sm-5"> <li id="post"><%= @current_user.post%></li> </div>
    <div class="col-sm-5"> <li id="department">
     <%unless @current_user.department_id.nil? %>
        <%= @department.dep_name %>
     <%else%>
        햫햣 혞햨햟향햟햫
     <%end%></li> </div>
</div>
</ol>
<div class="mb-2 row">
 <div class="col-sm-5"> 
    <%= link_to '游둘 햊향햪햣햫햦혝혧 햢햟햫햫혦햣', edit_user_path(@current_user), style: 'color:#5C2018; font-size: 18px;'%>
 </div>
</div>  


