<div class="widget-doc">
  <ul>
    <li><%= link_to 'Все документы', documents_path, class: 'a', style:('font-weight:bold;' if current_page?(documents_path)) %></li>
    <li><%= link_to 'Мои документы', my_documents_path, class: 'a', style:('font-weight:bold;' if current_page?(my_documents_path)) %></li>
    
    <li> <%=form_tag(documents_path, :method => "get", from: "search-form") do %>
    Номер документа<%= text_field_tag :search_number, params[:search_number], class:'form-control mb-2' %>
    Название документа<%= text_field_tag :search_name, params[:search_name], class:'form-control mb-2' %>
    Тип документа<%= text_field_tag :search_type, params[:search_type], class:'form-control mb-2' %> 
    Контрагент<%=select_tag :search_contractor, options_for_select(Hash[Contractor.all.map { |c| [c.contr_name, c.id]}].merge({"нет" => ""}), selected: params[:search_contractor]), class:'form-select mb-2'%> 
     <%= submit_tag "🔍 Найти", class: 'btn btn-light' %> <%end%></li>
  </ul>
</div>