 <div class="row">
    <div class="col-auto">
      <%= link_to '« назад', documents_path, class: 'previous', style: 'margin-top:auto' %>
    </div>

<div class="col-lg-10">
<div class="decor">
  <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
      <div class="circle"></div>
        <div class="form-inner">

        <h3>Новый документ</h3>
        <%= form_with model: @document do |f| %>

        <%= f.label "Регистрационный номер" %>
        <%= f.text_field :number, readonly: true, class: 'form-control form-control-lg', value: @reg_number %>
  
        <%= f.label "Название документа" %>
        <%= f.text_field :name, placeholder: 'Название документа', class: 'form-control form-control-lg', style: 'focus:on' %>

        <%= f.label "Тип документа" %>
        <%= f.select :doc_type, ['Договор', 'Записка', 'Заявление', 'Приказ', 'Протокол'], placeholder: 'Выберите тип документа'%>

        <%= f.label "Контрагент" %>
        <%= f.select :contractor_id, options_for_select(Hash[@contractors.map { |c| [c.contr_name, c.id]}].merge({"нет" => nil}) )%>
    
        <%= f.label "Прикрепить файл" %>
        <%= f.file_field :file %>
  
        <%= f.submit  "Создать", class: 'btn btn-primary btn-lg' %>
        <% end %>
        </div>
</div>


</div>
