<div class="row">
    <div class="col-auto">
      <%= link_to '« к другим документам', documents_path, class: 'previous', style: 'margin-top:auto' %>
    </div>
</div>
<h1 class="mb-4"><%= @document.name %></h1>
<div class="row">
    <div class="col-sm-4">
      <%= link_to "download #{@document.name}", rails_blob_path(@document.file, disposition: "attachment") %>
      <%= link_to 'Destroy', document_path(@document), data: {method: :delete, confirm: 'Are you sure?'} %>
      
      <hr class="my-3">

 <%= form_with model: [@document, @route] do |f| %>
      <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <p>Маршрут документа</p>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :route_name, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Сохранить", class: 'btn btn-primary'%>
<% end %>

<% @routes.each do |route| %>

      <%= link_to "маршрут #{route.route_name}", route_path(route) %> 
      <%= link_to 'Destroy', route_path(route), data: {method: :delete, confirm: 'Are you sure?'} %>
    
<% end %> 

      </div>

        
    
     <div class="col-sm-8">
     <iframe src= <%= pdfjs.full_path(file: rails_blob_path(@document.file, disposition: "attachment")) %> width="700" height="600" style="border: none; float:right"> </iframe>
</div>


</div>

