<div class="row">
    <div class="col-auto">
      <%= link_to '« к другим документам', documents_path, class: 'previous', style: 'margin-top:auto' %>
    </div>
</div>



<div class="row">
  <div class="col-sm-4">
  <h1 class="mb-4"><%= @document.name %></h1>
    <div style="opacity: 0.8;">Атрибуты документа</div> 
    <div style="margin:5px 2px 5px; font-weight: 500; font-size: 20px;">Регистрационный номер:
    <span style="font-weight: 300;"><%=@document.number%></span></div>
    <div style="margin:5px 2px 5px; font-weight: 500; font-size: 20px;">Автор документа:
    <%author = User.find_by(id: @document.user_id)%>
    <span style="font-weight: 300;"><%=author.surname%> <%=author.name[0]%>.<%=author.patronymic[0]%>.</span></div>
    <div style="margin:5px 2px 5px; font-weight: 500; font-size: 20px;">Тип документа:
    <span style="font-weight: 300;"><%=@document.doc_type%></span></div>
    <%unless @document.contractor_id.nil?%>
    <div style="margin:5px 2px 5px; font-weight: 500; font-size: 20px;">Контрагент:
    <span style="font-weight: 300;"><%=Contractor.find_by(id: @document.contractor_id).contr_name%></span></div>
    <%end%>
  </div>

  <div class="col-sm-8">
    <iframe src= <%= pdfjs.full_path(file: rails_blob_path(@document.file, disposition: "attachment")) %> width="700" height="600" style="border: none; float:right"> </iframe>
  </div>
</div>



    <%# @routes.each do |route| %>
    <%#= link_to "маршрут #{route.route_name}", document_route_path(@document, route) %> 
    <%#= link_to " удалить #{route.route_name}", document_route_path(@document, route), data: {method: :delete}, style: 'color:#5C2018;' %> 
    <%# end %> 
      <%#= link_to "download #{@document.name}", rails_blob_path(@document.file, disposition: "attachment") %>
      <%if @document.user_id == @current_user.id%>
      <%= link_to 'Удалить документ', document_path(@document), data: {method: :delete, confirm: 'Вы уверены?'}, class: 'previous' %>
      <%end%>
  
 <%#= form_with model: [@document, @route] do |f| %>
<div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
 
    </div>

    <div class="col-sm-10">
      <%#= f.text_field :route_name, class: 'form-control' %>
    </div>
  </div>
  
  <%#= f.submit "Сохранить", class: 'btn btn-primary'%>
<%# end %>
</div>
    
</div>
        
    
     

