<div class="row">
    <div class="col-auto">
      <%= link_to '« назад', document_path(@route.document), class: 'previous', style: 'margin-top:auto' %>
    </div>
</div>

<h1>Настройка маршрута "<%= @route.route_name%>"</h1>
<div class="row">
<div class="col-auto">
<table class="step-table">
  <tr> <!--ряд с ячейками заголовков-->
    <th>этап №</th>
    <th>тип этапа</th>
    <th>участники</th>
    <th>следующий этап</th>
  </tr> 
 
  <% @steps.each do |step| %>
  <tr> <!--ряд с ячейками тела таблицы-->
    <td><%= step.number%></td>
    <td><%= step.step_type%></td>
    <td><%= @users.find(step.user_id).login %></td>
    <td>  <table class="step-table">
          <tr> <!--варисант1 след этап-->
            <td><%= step.next_step1%></td>
            <th>если</th>
            <td><%= step.condition1%></td>
          </tr>
            <tr> <!--варисант2 след этап-->
            <td><%= step.next_step2%></td>
            <th>если</th>
            <td><%= step.condition2%></td>
          </tr>
          </table>
    </td>
  </tr> 
<% end %>
</table>
 </div>

<div class="col-sm-5">
<div class="decor">
 <div class="form-inner">
  <h3>Новый этап</h3>
   <%= form_with model: [@route, @step] do |f| %>
    <div style="float: left">
      <%= f.label :number, "Этап №"%> 
    </div>
    <div style="float: left">
     <%= f.text_field :number, class: 'form-control'%>
    </div>

  
    <%= f.label :step_type, "Выберите тип этапа "%> :    
    <%= f.select :step_type, ['Рассмотрение', 'Согласование', 'Подписание'], placeholder: 'Выберите тип этапа'%>
    
    <%= f.label :step_type, "Выберите участников "%> :    
    <%= f.text_field :user_id, list: 'user', class: 'form-control form-control-lg'%>
      <datalist id="user">
        <% User.all.each do |user| %>
          <option label="<%= user.login %>" value ="<%= user.id %>"></option>
        <% end %>
      </datalist> 
    
<hr class="my-3">
<p style="color: #E85A4F; font-size: 20px;">Следующий этап</p>
 <div style="float: left">
      <%= f.label :next_step1, "этап №"%> 
    </div>
  <div id="next" style="float: left">
     <%= f.text_field :next_step1, class: 'form-control'%>
    </div>
<div style="float: left">
      <%= f.label :condition1, "если"%> 
    </div>
  <div id="condition" style="float: left">
     <%= f.text_field :condition1, class: 'form-control'%>
    </div>

   <div style="float: left">
      <%= f.label :next_step2, "этап №"%> 
    </div>
  <div id="next" style="float: left">
     <%= f.text_field :next_step2, class: 'form-control'%>
    </div>
<div style="float: left">
      <%= f.label :condition2, "если"%> 
    </div>
  <div id="condition" style="float: left">
     <%= f.text_field :condition2, class: 'form-control'%>
    </div>


    <%= f.submit "Добавить", class: 'btn btn-primary btn-lg'%>  
  <% end %>
</div>
</div>
</div>
 </div>
