<%= form_with model: @goal do |g| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= g.label :Название %>
    </div>

    <div class="col-sm-5">
      <%= g.text_field :title, placeholder: 'Название', required: true, class: 'form-control form-control-lg' %>
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-form-label">
      <%= g.label :Начать %>
    </div>

    <div class="col-sm-3 col-form-label">
      <%= g.label :Закончить %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-3">
      <%= g.datetime_field :start_date, class: 'form-control form-control-lg' %>
    </div>    

    <div class="col-sm-3">
      <%= g.datetime_field :end_date, class: 'form-control form-control-lg' %>
    </div>  
  </div>
  
  <div class="form_row mb-3">
    <%= g.radio_button :execution, "serial" %><label>последовательное</label>
    <%= g.radio_button :execution, "parallel" %><label>параллельное</label>
  </div>
 
 
  
  <%= g.submit "Добавить исполнителей", class: 'btn btn-primary btn-lg' %>


<% end %>
