<%= form_with model: @goal do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :Название %>
    </div>

    <div class="col-sm-5">
      <%= f.text_field :title, placeholder: 'Название', class: 'form-control form-control-lg' %>
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-form-label">
      <%= f.label :Начать %>
    </div>

    <div class="col-sm-3 col-form-label">
      <%= f.label :Закончить %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-3">
      <%= f.datetime_field :start_date, class: 'form-control form-control-lg' %>
    </div>    

    <div class="col-sm-3">
      <%= f.datetime_field :end_date, class: 'form-control form-control-lg' %>
    </div>  
  </div>
  
  <div class="form_row mb-3">
    <%= f.radio_button :execution, "serial" %><label>последовательное</label>
    <%= f.radio_button :execution, "parallel" %><label>параллельное</label>
  </div>

  <%= f.submit "Отправить задание", class: 'btn btn-primary btn-lg' %>

  <%= f.submit "Отправить задание", class: 'btn btn-primary btn-lg' %>


<% end %>

