<h1>Иходящие (именно от тебя :"))</h1>
<%= link_to 'Создать задание', new_goal_path, class: 'btn btn-primary btn-lg mb-3' %>
<% @goals.each do |goal| %>
  <article class="card my-2">
    <div class="card-body">
      <h2><%= goal.topic %></h2>
      <%= link_to 'открыть', goal_path(goal), class: 'btn btn-primary' %> 
      <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-secondary' %>
      <%= link_to 'удалить', goal_path(goal), data: {method: :delete, confirm: 'Вы уверены?'},  class: "btn btn-danger" %>
    </div>
  </article>
<% end %>