<div class="row">
<div class="col-sm-8" style="float:left;">
<table class="goal-table">
<caption>
    Исходящие задания
  </caption>
  <tr> <!--ряд с ячейками заголовков-->
    <th>тема</th>
    <th>описание</th>
    <th>дата начала</th>
    <th>срок исполнения</th>
    <th></th>
  </tr> 
  <% @goals.each do |goal| %>
    <tr> <!--ряд с ячейками тела таблицы-->
     <td><%= goal.topic%></td>
     <td><%= goal.description%></td>
     <td><%= goal.start_date%></td>
     <td>23.05.2022 13:00</td>
     <td><%= link_to 'открыть', root_path, style: 'color:#5C2018;' %></td>
    </tr>    
  <% end %>
 </table>
</div>
<div class="col">
<%= link_to 'Создать задание', new_goal_path, class: 'shine-button' %>
</div>
</div>
