<h1>Новое задание</h1>
<%= form_with model: @goal do |g| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= g.label :topic, "Тема" %>
    </div>

    <div class="col-sm-5">
  <%= g.text_field :topic, list: 'topic', required: true, class: 'form-control form-control-lg'  %>
  <datalist id="topic">
    <% User.all.each do |user| %>
      <option label="<%= user.login %>"></option>
    <% end %>
  </datalist>  
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= g.label :description, "Описание" %>
    </div>

    <div class="col-sm-5">
      <%= g.text_field :description, class: 'form-control form-control-lg' %>      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-form-label">
      <%= g.label :start_date, "Начать" %>
    </div>

    <div class="col-sm-3 col-form-label">
      <%= g.label :end_date, "Закончить" %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-3">
      <%= g.datetime_field :start_date, class: 'form-control form-control-lg' %>
    </div>    

    <div class="col-sm-3">
      <%= g.datetime_field :end_date, class: 'form-control form-control-lg' %>
    </div>  
  </div>
  

  <div class="mb-3 row">
        <%= g.label "Прикрепить файл" %>
        <%= g.file_field :file %>
  </div>
  <%= g.submit "Добавить исполнителей", class: 'button' %>

<% end %>


<%= link_to '<-- назад к списку исходящих', goals_path, style: "color: gray" %>
