<h1 class="mb-4"><%= @goal.topic %></h1>

<%= @goal.created_at %>

  <div class="mb-3 mt-3 row">
   <div class="col-sm-2">
      <h3>Исполнители</h3>
    </div>
  </div>

<% @tasks.each do |task| %>
  <div class="mb-3 row">
    <div class="col-sm-3">
      <%= @users.find(task.user_id).login %>
    </div>

    <div class="col-sm-5">
      <%= task.description %>
    </div>
  </div>
<% end %>

<hr class="my-3">

 <%= form_with model: [@goal, @task] do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2">
      <%= f.label :user_id, "Выберите сотрудника "%> :    
    </div>

    <div class="col">
      <%= f.text_field :user_id, list: 'user', class: 'form-control form-control-lg', onclick: "upperCase();"  %>
      <datalist id="user">
        <% User.all.each do |user| %>
          <option label="<%= user.login %>" value ="<%= user.id %>"></option>
        <% end %>
      </datalist>    
    </div>
  </div>

     <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <p>Дополнительное описание задания сотрудника</p>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Сохранить", class: 'btn btn-primary'%>
<% end %>

