<h1 class="mb-4"><%= @goal.title %></h1>

<time datetime="<%= @goal.created_at %>">
  <%= @goal.created_at %>
</time>

<hr class="my-3">

 <%= form_with model: [@goal, @task] do |t| %>
  <div class="mb-3 row">
   <div class="col-sm-2">
      <p>Выберите сотрудника</p>
    </div>

    <div class="col-sm-10">
      <%= t.collection_select :user_id, User.order(:login), :id, :login %>
    </div>
    </div>

     <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <p>Описание задания сотрудника</p>
    </div>

    <div class="col-sm-10">
      <%= t.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <%= t.submit "Сохранить", class: 'btn btn-primary'%>
<% end %>
