<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'>
    <title>DMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="mb-3 row">
 <%= image_tag("logo.png", style: 'height:100px;width:auto; margin: 1% 0 1% 7%;') %>
 
<nav class="slidemenu">
 
  <%= content_tag(:a, href:inbox_goals_path, class:('active' if current_page?(inbox_goals_path))) do %>
    <p class="icon">โ</p><span>ะัะพะดััะธะต ะทะฐะดะฐะฝะธั</span><% end %>
  
  <%= content_tag(:a, href:outbox_goals_path, class:('active' if current_page?(outbox_goals_path))) do %>
    <p class="icon">โ</p><span>ะััะพะดััะธะต ะทะฐะดะฐะฝะธั</span><% end %>

  <%= content_tag(:a, href:documents_path, class:('active' if current_page?(documents_path))) do %>
    <p class="icon">๐</p><span>ะะพะบัะผะตะฝัั</span><% end %>

  <%= content_tag(:a, href:handbooks_path,
      class:('active' if current_page?(handbooks_path) || current_page?(staff_link_path) || current_page?(departments_link_path))) do %>
    <p class="icon">๐ฎ</p><span>ะกะฟัะฐะฒะพัะฝะธะบะธ</span><% end %>

  <%if user_signed_in? %>
        <%= content_tag(:a, href:user_path(current_user),class: ('active' if current_page?(user_path(current_user)))) do %>
    <p class="icon">๐ค</p><span>ะัะพัะธะปั</span><% end %>
     <%else%>
        <%= content_tag(:a, href:users_path,class: ('active' if current_page?(users_path))) do %>
    <p class="icon">๐ค</p><span>ะัะพัะธะปั</span><% end %>
     <%end%>    
</nav>

</div>    

    <main class="container mt-3">
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
